# Build artifacts
/build/
/bin/
/out/
*.exe
*.obj
*.o
*.lib
*.dll
*.pdb
*.so
*.dylib
/ImageToAscii/
/x64/
/output/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDEs
/.idea/
/.vs/
*.sln
*.vcxproj*
*.user
*.opensdf
*.log

# Rider
*.iml
/.idea/
*.dotsettings
