# Build artifacts
/build/
/bin/
/out/
*.exe
*.obj
*.o
*.lib
*.dll
*.pdb
*.so
*.dylib
/ImageToAscii/
/x64/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDEs
.idea/
*.sln
*.vcxproj*
*.user
*.opensdf
*.log

# Rider
*.iml
